<div class="page-header">
<h1>Add a New Activity</h1>
</div>
<p>Find me in app/views/activities/new.html.erb</p>


<p>Need a form for this page to add a new activity</p>







<br />
  <%= params.inspect %>
