<h1>Activities#show</h1>
<p>Find me in app/views/activities/show.html.erb</p>

<h3><%= @activity.name %>  |  
<%= @activity.person_limit %></h3>


<br />
<%= link_to 'Back', activities_path %>



<br />



<br />
<%= params.inspect %>